<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<!--   	<% if (locals.user) { %>
  		<script>window.User = <%- JSON.stringify(user) %>;</script>
  	<% } %> -->
    <div id="example"></div>
    <script src="/javascripts/bundle.js"></script>
  </body>
</html>
