<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<h1>Sign Up</h1>
	<form action="/signup" method="post">
		<div class="form-group">
			<p class="cf">
				<label>Email</label>
				<input type="text" name="email">
			</p>
		</div>
		<div class="form-group">
			<p class="cf">
				<label>Password</label>
				<input type="password" name="password">
			</p>
			
		</div>

		<button type="submit">Login</button>
	</form>

	<hr>

	<p>Already have an account? <a href="/login">Login</a></p>
	<p>Or go <a href="/">home</a>.</p>
  </body>
</html>
