body {
  padding: 10%;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500; }

a {
  color: red; }

.Image {
  position: relative; }

.Image {
  position: absolute;
  height: 400;
  width: 400; }

.example-enter {
  opacity: 0.01;
  transition: 0.5s ease-in-out; }

.example-enter.example-enter-active {
  opacity: 1; }

.example-leave {
  opacity: 1;
  transition: 0.5s ease-in-out; }

.example-leave.example-leave-active {
  opacity: 0.01; }
